
    <div class="search-container col-12 px-3">
      <form action="/search" method="post" class="input-group">
        <input class="form-control search-input" type="search" placeholder="Search for products, categorys and keywords">
        <button class="btn btn-search btn-success">Go</button>
      </form>
    </div>
