<nav id="sidebar" class="col-md-4 sidebar bg-light ">
  <div id="btnHideSidebar" class="navbar-toggler text-end d-flex justify-content-end">
    <a class="btn-close p-1 px-4"></a>
  </div>
  <div class="nav-heading text-center my-4">
    <div class="nav-logo my-3">
      <img src="favicon.png" class="img-fluid mx-1 profile-img" alt="CM">
    </div>
    <div class="col-9">
      <h2 class=" text-heading profile-name my-0 fw-bold">John Doe</h2>
      <p class="d-block my-2 fs-5 text-muted text-white">
        Vendor
      </p>
    </div>
  </div>
  <ul class="nav-links px-2">
    <li class="nav-link">
      <a href="/dashboard.html"><i class="fas fa-chart-line"></i> Dashboard</a>
    </li>
    <li class="nav-link">
      <a href="/products.html" class="active"><i class="fas fa-box"></i> Products</a>
    </li>
    <li class="nav-link">
      <a href="/orders.html"><i class="fas fa-shopping-cart"></i> Orders</a>
    </li>
    <li class="nav-link">
      <a href="/revenue.html"><i class="fas fa-users"></i> Revenue</a>
    </li>
    <li class="nav-link">
      <a href="/settings.html"><i class="fas fa-cogs"></i> Settings</a>
    </li>
  </ul>
</nav>