<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Vendor Dashboard - Manage your products, orders, and customers" />
  <title>Vendor Dashboard</title>
  <script defer src="/JS/productScript.js" type="text/javascript" charset="utf-8"></script>
  
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/CSS/vendorStyle.css" rel="stylesheet" />
  <!-- FontAwesome for Icons -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet" />
</head>

<body>
  <%- include("../Partials/_vendor_sidebar.ejs") %>
  <%- include("../Partials/_vendor_header.ejs") %>
  <main class="d-flex main justify-content-center">
        <section class="content container col-md-8 pe-md-4">
          <%- body %>
        </section>
  </main>
  <%- include("../Partials/_vendor_footer.ejs") %>
  <!-- Bootstrap JS and dependencies -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="Script.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>
